.hidden
  display none!important
  visibility hidden!important
.visible
  visibility visible!important
.row
  margin 0
.btn, a.btn
  -webkit-transition: background-color 0.2s ease
  -moz-transition: background-color 0.2s ease
  -ms-transition: background-color 0.2s ease
  -o-transition: background-color 0.2s ease
  transition: background-color 0.2s ease
  text-transform: uppercase
  font-size: 16px
  letter-spacing: 2px
  border: 0
  font-weight: bold
  background-color transparent
  background transparent
  border: none

a
  cursor pointer
  text-decoration none
  color: darken(#44c7f4, 40%)
  &:focus
    outline: 0
  &:hover
    text-decoration: none
    color: #44c7f4


.code-snippets
  min-height 400px
  padding-left 60px
  padding-right 60px

*,
:before,
:after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box