.page-docs 
  .logo-tutorial
    background-color transparent !important
    padding 0
    span
      color white 
      text-transform none
      font-weight normal
      margin-top 0
      font-size 16px
      letter-spacing 1px
.label
  display block
  white-space normal
