size( values... )
  if length( values ) == 1
    width values[ 0 ] || auto
    height values[ 0 ] || auto
  else
    width values[ 0 ] if values[ 0 ] != false
    height values[ 1 ] if values[ 1 ] != false

// Ui Color
ui-step-1(color)
  .grafic
    border-color color
ui-step(color)
  .step-circle.active
    background color
  .skip
    &:hover
    &:focus
    &.selected
      background color
      border-color color 
  .snippet-tab 
    &.selected a
      background color !important
      color white
    a
      border solid 1px color
      &.active
      &:hover
      &:focus
        background color !important
        color white
  .tutorial-item
    &.selected
    &:hover
      *
        transition all .3s ease
      .grafic
        border-color color
        i 
          filter grayscale(0%)
          -webkit-filter grayscale(0%)
          -moz-filter grayscale(0%)
      .description
        background color 
  .snippet
    blockquote
      background color
      margin-bottom 1em