.sprite
  background-image url(images/sprite.png)
  &-hybrid
    background-position 0px 0px
    width 60px
    height 110px
    &-mask
      background-position 0px -110px
      width 58px
      height 78px
  &-native-mobile
    background-position -60px 0px
    width 60px
    height 110px
    &-mask
      background-position -58px -110px
      width 58px
      height 78px
  &-webapp
    background-position -120px 0px
    width 70px
    height 110px
    &-mask
      background-position -116px -110px
      width 58px
      height 78px
  &-spa
    background-position -190px 0px
    width 60px
    height 110px
    &-mask
      background-position -174px -110px
      width 58px
      height 77px