.sprite
  &-hybrid
    background-image url(images/hybrid-hover.png)
    width 59px
    height 110px
    &-mask
      background-image url(images/sprite.png)
      background-position 0px -110px
      width 58px
      height 77px
  &-native-mobile
    background-image url(images/native-hover.png)
    width 58px
    height 110px
    &-mask
      background-image url(images/sprite.png)
      background-position -58px -110px
      width 58px
      height 77px
  &-webapp
    background-image url(images/webapp-hover.png)
    width 70px
    height 110px
    &-mask
      background-image url(images/sprite.png)
      background-position -116px -110px
      width 58px
      height 77px
  &-spa
    background-image url(images/spa-hover.png)
    width 58px
    height 110px
    &-mask
      background-image url(images/sprite.png)
      background-position -174px -110px
      width 58px
      height 77px