// New styles

// Colors Auth0
@import 'stylus/variable'
// Mixind
@import 'stylus/mixins'
// Normalizer
@import 'stylus/normalize'

#tutorial-navigator
  // Add some bootstrap.min.css@3.1.1
  @import 'stylus/bootstrap'
  // Base
  @import 'stylus/base'
  // Code
  @import 'stylus/code'
  // Helppers
  @import 'stylus/helppers'
  // sprite 
  @import 'stylus/sprite'

// styles
#tutorial-navigator
  max-width 845px
  margin 0 auto
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  font-family: "proxima-nova", "Helvetica Neue", sans-serif
  color grayFont
  .tutorial-body
    text-align center
  h2
    text-align center
    font-weight 400

  .app-type-item
    width 150px 
    display inline-block 
    vertical-align top
    margin 0 10px
    cursor pointer
    .label
      color grayFont
      text-align center
      font-weight 300 
      &::first-word
        font-weight 600
    .description
      transition all .3s ease
      opacity 0
      transform translate(0,-5px)
      span
        font-size 12px
        color grayFont !important
        margin 10px 0
    &:hover
      .description
        opacity 1
        transform translate(0,0)
      .grafic
        transition all .3s ease
        i
          filter drop-shadow( 5px 5px 4px rgba(black,.2))
          -webkit-filter drop-shadow( 5px 5px 4px rgba(black,.2))
  .grafic 
    width 100%
    height 170px
    border solid 1px grayBorder
    border-radius 3px
    @extend #tutorial-navigator .center-vertical  
  .step
    h2,
    h3
      text-align center
      margin 40px auto 30px
  .complete 
    text-align center
  // Tutorial Header
  .tutorial-header
    text-align center
  .step-circle
    display inline-block 
    vertical-align top
    margin 0 15px
    size(80px,80px)
    background grayBackground
    border-radius 50%
    a
      .mask
        @extend #tutorial-navigator .center-vertical
        position relative 
        top 3px
        height 80px
        img
          max-height 70%
          max-width 100%
          margin 0 auto
          position relative
          top -3px
  // Search
  .inputs
    display block
    text-align center
    position relative
    width 640px 
    margin 0 auto 40px
    @extend #tutorial-navigator .clearfix
    // Skyp
    .skip
    .radio
      size(20%,60px)
      float right
      background grayBorder
      border solid 1px grayBorder
      border none
      border-radius 0 3px 3px 0
      font-size 25px 
      color white
      outline none
    .radio
      width 50%
      background white
      border solid 1px grayBorder
      color grayFont
      &:first-child
        float left
        border-radius 3px 0 0 3px
    .skip
      float none 
      border-radius 3px 
  // Steps
  .step
    @extend #tutorial-navigator .clearfix
    width 650px
    margin 0 auto
    .tutorial-item
      float left
      width 120px
      margin-bottom 10px
      margin-right 10px 
      &.visible
        &:nth-child(5n+5)
          margin-right 0
      a
        img
          max-height 70%
          max-width 70%
          filter grayscale(1)
          -webkit-filter grayscale(1)
        .grafic
          height 120px 
          width 120px
          border-radius 3px 3px 0 0
        .description
          @extend #tutorial-navigator .center-vertical
          border-radius 0 0 3px 3px
          height 60px
          background grayBorder
          color white 
    h3 
      font-size 22px
      color blueFont
      font-weight 400
    .sprite-close
      right calc(20% + 15px) 
  // Snippet
  .snippet
    text-align left 
    color grayLightFont
    width 640px
    margin 0 auto 30px
    h1
    h2
    h3
    h4
      text-align left
      font-weight 300
      font-size 22px
      margin-bottom 10px
    p 
      font-size 15px
      line-height 20px
      margin-top 0
    a 
      text-decoration none
      color link 
    pre
      width 700px
      margin-left -50px
    blockquote
      margin 0
      padding 1em 
    img
      max-width 100%
  .code-snippets
    h2
      margin 40px auto 30px
  // Snippet Tabs
  .snippet-tabs
    width 100%
    display table
    border-bottom none
    margin-bottom 30px
    .snippet-tab 
      width 50%
      display inline-block  
      a
        background white
        border none
        border solid 1px grayBorder
        border-radius 0 3px 3px 0
        color grayFont
        display inline-block
        font-size 25px 
        height auto
        padding 10px
        text-align center
        width 100%
        &.active
          color #fff
      &.visible
        a
          border-radius 3px 0 0 3px
  // selected
  .app-type.selected 
    @extend #tutorial-navigator .app-type-item:hover
// Colors UI

// Colors - step-1
#tutorial-navigator
  .app-type.selected .app-type-item,
  .app-type-item:hover
    &.native-mobile
      ui-step-1(yellow)
    &.hybrid
      ui-step-1(green)
    &.spa
      ui-step-1(cyan)
    &.webapp
      ui-step-1(red)
  

// Colors - step-2-3
#tutorial-navigator
  &[data-ui="native-mobile"]
    ui-step(yellow)
  &[data-ui="hybrid"]
    ui-step(green)
  &[data-ui="spa"]
    ui-step(cyan)
  &[data-ui="webapp"]
    ui-step(red)
