#tutorial-navigator {
  border: 1px solid #ddd;
  border-radius: 3px;
}

#tutorial-navigator .row {
  margin:0;
}

#tutorial-navigator a {
  cursor: pointer;
}

small.example {
  color: #7E7E80;
  font-weight: bold;
}

#tutorial-navigator .tutorial-header {
  border-bottom: 2px solid #ddd;
  padding: 40px 0 20px 0;
  display: table;
  width: 100%;
}

#tutorial-navigator .tutorial-header .step-circle {
  text-align: center;
}


#tutorial-navigator .tutorial-header .step-circle a {
  background: #ddd;
  border: 1px solid #ddd;
  border-radius: 100%;
  padding: 15px;
  height: 60px;
  width: 60px;
  display: inline-block;
  line-height: 30px;
  color: #fff;
  font-size: 25px;
}

#tutorial-navigator .tutorial-header .step-circle span.step-label {
  display: block;
  padding: 15px 0px 0px 0px;
  font-size: 20px;
  color: #ddd;
  margin-bottom: 5px;
}

#tutorial-navigator .tutorial-header .step-circle small {
    display: block;
    line-height: 12px;
    height: 12px;
    font-size: 12px;
}

#tutorial-navigator .tutorial-header .step-circle.active a {
  background: #4fcb1f;
  color: #fff;
  border-color: #4fcb1f;
}

#tutorial-navigator .tutorial-header .step-circle.active span.step-label {
  color: #000;
}

#tutorial-navigator .step,
#tutorial-navigator .code-snippets {
  padding: 30px;
  border-radius: 3px;
}

#tutorial-navigator .step > h3,
#tutorial-navigator .code-snippets > h3 {
  margin-top: 0px;
}

#tutorial-navigator .step > h3,
#tutorial-navigator .step > h4,
#tutorial-navigator .step > p {
  padding-left: 5px;
}

#tutorial-navigator .step .app-type {
  cursor: pointer;
}

#tutorial-navigator .step .app-type .app-type-item {
  display: block;
  border-radius: 3px;
}

#tutorial-navigator .step .app-type:hover .app-type-item {
  background: #fff;
}

#tutorial-navigator .step .app-type .app-type-item span,
#tutorial-navigator .step .app-type .app-type-item small,
#tutorial-navigator .step .app-type .app-type-item strong {
  display: block;
  width: 100%;
  text-align: center;
}

#tutorial-navigator .step .app-type .app-type-item span,
#tutorial-navigator .step .app-type .app-type-item strong {
  color: #666;
}

#tutorial-navigator .step .app-type:hover .app-type-item span.icon,
#tutorial-navigator .step .app-type:hover .app-type-item strong  {
  color: #44C7F4;
}

#tutorial-navigator .step .app-type .app-type-item span.icon {
  font-size: 7em;
}

#tutorial-navigator .step .app-type .app-type-item strong.label {
  text-transform: capitalize;
  font-size: 1.3em;
}

#tutorial-navigator .step .tutorial-item {
  display: inline-block;
  float: none;
  margin-bottom: 20px;
  vertical-align: top;
  padding: 0px 5px;
}

#tutorial-navigator .step .tutorial-item,
#tutorial-navigator .step .tutorial-item a.logo-tutorial,
#tutorial-navigator .step .tutorial-item a.logo-tutorial strong {
  background: none;
  border-radius: 3px;
}

#tutorial-navigator .step .tutorial-item a.logo-tutorial {
  border: 1px solid #f1f1f1;
  padding: 10px;
}

#tutorial-navigator .step .tutorial-item:hover,
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial,
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial strong,
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial span {
  background: #fff;
  color: #44C7F4;
}

#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial {
  border-color: #817B7B;
  background-color: none;
}

#tutorial-navigator .step .tutorial-item span {
  min-height: 30px;
  margin-top: 10px;
}

#tutorial-navigator .step.disabled {
  position: relative;
  opacity: .15;
}

#tutorial-navigator .step.disabled .disabled-cover {
  position: absolute;
  background: none;
  /*opacity: .3;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#tutorial-navigator .code-snippets {
  min-height: 400px;
  padding-left: 60px;
  padding-right: 60px;
}

#tutorial-navigator .code-snippets .snippet-tabs {
  width: 100%;
  display: table;
  border-bottom: 1px solid #16214d;
  margin-bottom: 30px;
}

#tutorial-navigator .code-snippets .snippet-tabs .snippet-tab {
  display:inline-block;
}

#tutorial-navigator .code-snippets .snippet-tabs .snippet-tab a {
  display:inline-block;
  background: #f1f1f1;
  padding: 10px;
  height: auto;
  min-width: 110px;
  text-align: center;
  color: #aaa;
}

#tutorial-navigator .code-snippets .snippet-tabs .snippet-tab a.active{
  background: #16214d;
  color: #fff;
}